DATABASE_URL=postgresql+asyncpg://user:password@postgres:5432/job_processing_service

TEST_DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/job_service_test

REDIS_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=job_processing_service

TEST_REDIS_URL=redis:6379/2

UPLOAD_DIR=/app/files